<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/%22%3E">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <div class="alert alert-warning mt-3">
        <b>Имя: <span th:text="${user.getUsername()}"></span></b><br />
        <b>Уровень: <span th:text="${user.getCharacter().getLevel()}"></span></b><br />
        <b>innoCoin: <span th:text="${user.getCharacter().getScore()}"></span></b><br />
        
        <b>Голова:</span></b><br />
        <img class="img-thumbnail" th:src="${user.getCharacter().getHead().getHeadPicture()}"/>
        <b>Тело: </span></b><br />
        <img class="img-thumbnail" th:src="${user.getCharacter().getBody().getBodyPicture()}"/>
        <b>Ноги: </span></b>
        <img class="img-thumbnail" th:src="${user.getCharacter().getLegs().getLegsPicture()}"/>

    </div>
</div>
</body>
</html>