<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="utf-8"/>
<title>Answer Control</title>
    <style type="text/css">

        .wrapper {
            height: 100vh;
            display: inherit;

        / / Direction of the items, can be row or column flex-direction: column;
        }

        header {
            height: 60px;
            background-color: #222222;
            color: white;
            line-height: 140%;
            font-size: large;

        }

    </style>
</head>


<body>
<div class="wrapper">
    <header>
        <div align="right" sec:authorize="isAuthenticated()">
            Welcome <b><span sec:authentication="name">Username</span></b>
            &nbsp;
            <i><span sec:authentication="principal.authorities">Roles</span></i>
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Logout"/>
            </form>
        </div>
    </header>
<div align="center">
    <h1>Answer Control</h1>
    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>Товар</th>
            <th>Цена</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="head : ${heads}">
            <td><img th:src="@{../__${head.getHeadPicture()}__}" alt="Hat" height="70" class="Hat" /></td>
            <td>100</td>
            <td><a href=""> Купить </a></td>
            <td><a th:href="@{'/' + ${userId} + '/head_shop/' + ${head.getId()} + '/save'}"> Надеть </a></td>
        </tr>
        </tbody>
    </table>
</div>
</div>
</body>
</html>