<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="ISO-8859-1">
<title>Create New Product</title>
	<style type="text/css">

		.wrapper {
			height: 100vh;
			display: inherit;

		/ / Direction of the items, can be row or column flex-direction: column;
		}

		header {
			height: 60px;
			background-color: #222222;
			color: white;
			line-height: 140%;
			font-size: large;

		}

	</style>
</head>
<body>
<div class="wrapper">
	<header>
		<div align="right" sec:authorize="isAuthenticated()">
			Welcome <b><span sec:authentication="name">Username</span></b>
			&nbsp;
			<i><span sec:authentication="principal.authorities">Roles</span></i>
			<form th:action="@{/logout}" method="post">
				<input type="submit" value="Logout"/>
			</form>
		</div>
	</header>
	<div align="center">	
		<h1>Create New Product</h1>
		<br/>
		<form action="#" th:action="@{/save}" th:object="${product}" method="post">
			<table border="0" cellpadding="10">
				<tr>
					<td>Product Name:</td>
					<td><input type="text" th:field="*{name}" /></td>
				</tr>
				<tr>
					<td>Brand:</td>
					<td><input type="text" th:field="*{brand}" /></td>
				</tr>				
				<tr>
					<td>Made in:</td>
					<td><input type="text" th:field="*{madein}" /></td>
				</tr>				
				<tr>
					<td>Price:</td>
					<td><input type="text" th:field="*{price}" /></td>
				</tr>				
				<tr>
					<td colspan="2"><button type="submit">Save</button></td>
				</tr>
			</table>
		</form>
	</div>
	</div>
</body>
</html>